*{
    box-sizing: border-box;
}

body{
    background-color: blue;
    background-image: linear-gradient(313deg,#dfb2b2 10%, #bacfee 90%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.quiz-container{
    background-color: #fff;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
}

h2{
    padding: 1rem;
    align-items: center;
    margin: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: pink;
    color: black;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 1.3rem;
}

button:hover{
    background-color: rgb(254,140,166);
}


button:focus{
    background-color: rgb(253,192,255);
}













